.movies {
  margin-top: 20px;
}

.card {
  box-shadow: 0 0 3px #ccc;
  transition: all 1s ease;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.01);
}

.desc {
  display: flex;
  flex-direction: column;
}

.desc div.tags {
  display: flex;
  flex-direction: row;
  gap: 10px 5px;
  flex-wrap: wrap;
}

.desc div.tags span {
  cursor: pointer;
  transition: all 1s ease;
}

.desc div.tags span:hover {
  color: #096dd9;
  background: #e6f7ff;
  border-color: #91d5ff;
}

.movieForm img {
  max-width: 200px;
  max-height: 200px;
}

.imgWrapper {
  position: relative;
}

.imgWrapper img {
  width: 100%;
}

.heart {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  bottom: 15px;
  z-index: 1;
  border-radius: 50%;
  right: 15px;
  opacity: 0.8;
  transition: all 1s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart:hover {
  opacity: 1;
}

.heart svg {
  height: 24px;
  width: 24px;
}
